.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: aquamarine;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header{
  background-color: #8a2be2;
  left: 8px;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('/img/background.png');
}
.Summery{
  font-family: 'Wittgenstein', sans-serif;
  flex-basis: 60%;
}
.English{
  font-family: 'Wittgenstein', sans-serif;
  flex-basis: 60%;
}
.Name{
  font-family: 'open-sans', sans-serif;
  flex-basis: 60%;
}
.Skills{
  font-family: 'open-sans', sans-serif;
  flex-basis: 60%;
}
.Education{
  font-family: 'Wittgenstein', sans-serif;
  flex-basis: 60%;
}
.logotipe{
  color: #411b87;
  text-decoration: none;
  transition: color 0.3s;
}
.header-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.year {
  margin-top: 50px;
  font-weight: bold;
  font-size: 60px;
}